body{
    margin:0;
}

.section-1{
    width:100%;
    height:60px;
    background:rgb(35, 34, 34);
    display: flex;
    display:contents-inline;
 }
.four-head{
    padding-left:5%;
    padding-top: 3px;
   margin-bottom: 1px;
    color:white;
    
}

.four-head li{
    display: inline;
    justify-content: space-between;
   }
.contact{
    padding-left:28%;
    padding-top: 11px;
    margin-top: 4px;
}
.four-head ul li a{
    color:white;
}
 .section-2{ 
    width:100%;
    height: 600px;
    background-image: url("bck.jpg");
   display: flex;
 background-size: cover;
 margin-bottom: 3px;
}
.section-3{ 
width:100%;
height:400px;
display: flex;
justify-content: space-evenly;
margin-bottom: 0px;
}
.bg1{ 
    width:25%;
     height:230px; 
    background-image: url(bck1.webp);
   display: flex;
   background-size: cover;
  background-position:51%;

}
.bg2{
    width:25%;
    height:230px; 
   background-image: url(bck2.webp);
  display: flex;
  background-size: cover;
 background-position:51%;

}
.bg3{
    width:25%;
    height:230px; 
   background-image: url(bck3.webp);
  display: flex;
  background-size: cover;
 background-position:51%;
}
.bg4{
    width:24%;
    height:230px; 
   background-image: url(bck4.webp);
  display: flex;
  background-size: cover;
 background-position:51%;
}
.section-4{ 
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    justify-content: left;
    margin-bottom: -90px;
}
.section-4  ul,.section-5 ul{ 
        list-style: none;
        list-style-position:initial
      }
.l1{
margin-top: -132px;
margin-bottom: 0px;
}
.l2{
    margin-top: -132px;
    margin-bottom: 0px;
}
.l3{
    margin-top: -132px;
    margin-bottom: 0px;
}
.l4{
    margin-left: 352px;
    margin-top: -132px; 
    margin-bottom: 0px;
}
.section-5{
    width:100%;
    height:10px;
    background:white;
    display: flex;
    
   justify-content: space-evenly;
   margin-bottom: 78px;
   margin-top: 51px;
   
 }
 .footer1{
    width: 100%;
  
    font-size: 14px;
    line-height: 66px;
    color: #999;
    text-align: center;
    background: black;
    margin-top: -23px;
 }
 .footer{
    color: rgb(148, 141, 141);
    justify-content: end;
    
 }